<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>iREPS</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- iREPS main CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ireps.css') }}">
  </head>
  <body>
    <div class="row no-gutters" style="height:100px; background-color:rgba(255,50,0,0.1);">
      <div class="border border-danger col-lg-7" >
        <div style="height:50px; background-color:rgba(255,0,100,0.1)">
          <nav class="navbar navbar-expand-md ">
            <div class="mx-auto order-0">
              <a class="navbar-brand mx-auto" href="#">iREPS</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                  <span class="navbar-toggler-icon"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown"   href="#">Dashboard<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Asset Register</a></li>
                    <li><a href="#">Meter Installations</a></li>
                    <li><a href="#">Meter Readings</a></li>
                    <li><a href="#">Meter Audits</a></li>
                    <li><a href="#">Meter Inspections</a></li>
                    <li class="dropdown-submenu">
                      <a class="test" tabindex="-1" href="#">Credit Control <span class="caret"></span></a>
                      <ul class="dropdown-menu" style="width:300px;">
                        <li><a tabindex="-1" href="#">Final Warning Notices</a></li>
                        <li><a tabindex="-1" href="#">Disconnection Notices</a></li>
                        <li><a tabindex="-1" href="#">Reconnection Notices</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown"   href="#">Asset Register<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Electricity Meters</a></li>
                    <li><a href="#">Cuircuit Breakers</a></li>
                    <li><a href="#">Poles/Kiosks/Boxes</a></li>
                    <li><a href="#">Transformers</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown"   href="#">Works Orders<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Goods Receiving</a></li>
                    <li><a href="#">Meter Installations</a></li>
                    <li><a href="#">Meter Readings</a></li>
                    <li class="dropdown-submenu">
                      <a class="test" tabindex="-1" href="#">Meter Audits<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">MA Disconnections</a></li>
                        <li><a tabindex="-1" href="#">MA Reconnections</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Meter Inspections</a></li>
                    <li><a href="#">Meter Removal</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown"   href="#">Data Cleansing<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Field MA Data</a></li>
                    <li><a href="#">Billing Data</a></li>
                    <li><a href="#">Combined Data</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Service Connections</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div style="height:50px; background-color:rgba(150,250,0,0.1)">
          for tabs
        </div>
      </div>
      <div class="border border-danger col-lg-5" >
        <div style="height:50px; background-color:rgba(255,0,100,0.1)">
          <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
            <div class="navbar-collapse collapse w-100" id="">
              <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown"   href="#">Admin<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Manage HR</a></li>
                    <li class="dropdown-submenu">
                      <a class="test" tabindex="-1" href="#">Meetings<span class="caret"></span></a>
                      <ul class="dropdown-menu" style="width:300px;">
                        <li><a tabindex="-1" href="#">Team Talk Meetings</a></li>
                        <li><a tabindex="-1" href="#">Management Meetings</a></li>
                        <li><a tabindex="-1" href="#">Directors Meetings</a></li>
                        <li><a tabindex="-1" href="#">Project Steering Committee Meetings</a></li>
                        <li><a tabindex="-1" href="#">Ward Meetings</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Mng Tools</a></li>
                    <li><a href="#">Mng Vehicles</a></li>
                    <li><a href="#">Mng Cadastral Data</a></li>
                    <li><a href="#">Mng Deeds Data</a></li>
                    <li><a href="#">Mng Boundaries Data</a></li>
                    <li><a href="#">iREPS Settings</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown"   href="#">Training<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Training Manuals</a></li>
                    <li><a href="#">Training Videos</a></li>
                    <li><a href="#">Meter Database</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign UP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign IN</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div style="height:50px; background-color:rgba(150,250,0,0.1)">
          <nav class="navbar navbar-light navbar-expand-md bg-faded ">
            <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
              <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" href="#">Surname/Name</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">User Role</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Municipality</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <div class="row no-gutters" style="height: 480px;">
      <div class="col-md-5 border border-info" style="height: 480px; background-color:rgba(255,150,0,0.1);">
        <div style="height:480px; background-color:rgba(255,0,100,0.1)">
          Geographic Tree
        </div>
      </div>
      <div class="col-md-7 border border-info" style="height: 480px; background-color:rgba(255,0,150,0.1);">
        <div style="height:150px; background-color:rgba(255,0,100,0.1)">
        </div>
        <div style="height:330px; background-color:rgba(150,250,0,0.1)">
        </div>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-md-2 border border-warning" style="height: 30px; background-color:rgba(255,0,150,0.1);">
        <div style="background-color:rgba(255,0,100,0.1)">
        </div>
      </div>
      <div class="col-md-2 border border-warning" style="height: 30px; background-color:rgba(255,0,150,0.1);">
        <div style="background-color:rgba(255,0,100,0.1)">
        </div>
      </div>
      <div class="col-md-2 border border-warning" style="height: 30px; background-color:rgba(255,0,150,0.1);">
        <div style="background-color:rgba(255,0,100,0.1)">
        </div>
      </div>
      <div class="col-md-2 border border-warning" style="height: 30px; background-color:rgba(255,0,150,0.1);">
        <div style="background-color:rgba(255,0,100,0.1)">
        </div>
      </div>
      <div class="col-md-2 border border-warning" style="height: 30px; background-color:rgba(255,0,150,0.1);">
        <div style="background-color:rgba(255,0,100,0.1)">
        </div>
      </div>
      <div class="col-md-2 border border-warning" style="height: 30px; background-color:rgba(255,0,150,0.1);">
        <div style="background-color:rgba(255,0,100,0.1)">
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
  </body>
</html>